* {
  margin: 0;
  padding: 0;
}

.title {
  position: relative;
  width: 212px;
  border-bottom: 1px solid rgb(238, 238, 238);
  padding: 8px 50px;
  position: relative;
  box-sizing: border-box;
  height: 30px;
  color: rgba(0, 0, 0, 0.4);
}

.double-left {
  position: absolute; 
  left: 4px; 
  top: 6px;
  font-size: 12px;
  margin: 0 10px;
}

.single-left {
  position: absolute; 
  left: 26px; 
  top: 6px;
  font-size: 12px;
  margin: 0 10px;
}

.single-right {
  position: absolute;
  right: 26px; 
  top: 6px;
  font-size: 12px;
  margin: 0 10px;
}

.double-right {
  position: absolute; 
  right: 4px; 
  top: 6px;
  font-size: 12px;
  margin: 0 10px;
}

.date {
  font-size: 12px;
  color: #000;
  text-align: center;
}